<?php
$c->domain_name = '{{ item['domain_name'] }}';
$c->sysabbr = '{{ item['sysabbr'] }}';
$c->system_name = '{{ item['system_name'] }}';
$c->admin_email = '{{ item['admin_email'] }}';
$c->pg_connect[] = '{{ item['pg_connect'] }}';
